.div{
    width: 100%;
    /* display: flex; */
    background-color: rgb(14, 43, 27);
    height: 100vh;
    opacity: 0.8;
    display: inline-block;
}
.card1{
    width: 100%;
    /* display: flex; */
    /* background-color: rgb(14, 43, 27); */
    height: 100vh;
    display: inline-block;
}
.cardd{
    display: block;
}